<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="angular-gauge" attributes="name min max color x y r accuracy percentage initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{2*parseInt(r)}}px; height:{{2*parseInt(r)}}px;"></div>
  </template>
  <script>
    Polymer('angular-gauge', {
      ready: function() {
        this.p = new uruburu.AngularGauge(this.$.frame, {
          name: this.name,
          r: parseInt(this.r),
          initial: parseFloat(this.initial),
          accuracy: parseInt(this.accuracy),
          color: this.color ? this.color : 'red'
        });
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      rChanged: function(val) {
        if (val != undefined) this.p.r(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      accuracyChanged: function(val) {
        if (val != undefined) this.p.accuracy(val);
      },
      setValue: function(val) {
        if (val != undefined) this.p.value(parseFloat(val));
      },
      parseInt: function(val) {
        return parseInt(val);
      }
    });
  </script>
</polymer-element>