<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="simple-led" attributes="name color x y width height initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('simple-led', {
      ready: function() {
        this.p = new uruburu.Led(this.$.frame, {
          name: this.name,
          width: parseInt(this.width),
          height: parseInt(this.height),
          initial: parseInt(this.initial),
          color: this.color ? this.color : 'blue'
        });
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      widthChanged: function(val) {
        if (val != undefined) this.p.width(parseInt(val));
      },
      heightChanged: function(val) {
        if (val != undefined) this.p.height(parseInt(val));
      },
      colorChanged: function(val) {
        if (val != undefined) this.p.color(val);
      },
      setValue: function(val) {
        if (val !== undefined) this.p.value(val ? 1 : 0);
      }
    });
  </script>
</polymer-element>