<link rel="import" href="../../polymer/polymer.html">

<script src="../../d3/d3.js"></script>
<script src="../uruburu.js"></script>

<polymer-element 
  name="toggle-button" attributes="name x y width height initial value">
  <template>
    <style> 
    #frame {
      position: absolute;
    }
    </style>
    <div id="frame" 
      style="left: {{x}}px; top:{{y}}px; width:{{width}}px; height:{{height}}px;"></div>
  </template>
  <script>
    Polymer('toggle-button', {
      ready: function() {
        this.p = new uruburu.ToggleButton(this.$.frame, {
          name: this.name,
          width: parseInt(this.width),
          height: parseInt(this.height),
          initial: parseInt(this.initial)
        });

        this.p.bind = this.getAttribute('value').replace('@{{', '').replace('}}', '');
      },
      nameChanged: function(val) {
        if (val != undefined) this.p.name(val);
      }, 
      widthChanged: function(val) {
        if (val != undefined) this.p.width(parseInt(val));
      },
      heightChanged: function(val) {
        if (val != undefined) this.p.height(parseInt(val));
      },
      getValue: function() {
        if (this.p) return this.p.value();
      }
    });
  </script>
</polymer-element>